  
    
/*
initial screen size 
*/

#id_background{
    margin-top: -57px;
    margin-left: -20px;
}
#demo,
#id_background{
    max-height:467px; 
    max-width:516.58px;

    height:467px; 
    width:516.58px; 
    display:inline-block;
}

#imgDisplay{
   
    height: 220px;
    width: 247px;
    position: absolute;
    z-index:1; 
    margin-top: -290px;
    
}
#passersW{
    z-index:1; 
    font-weight: bold;
    position: absolute;
    color:#1d3d90; 
   
    height: 238px;
    width: 235px;
    
    margin-top: -325px; 
    margin-left: 420px;
}
#catProg{
    z-index:1;
    font-weight: bold;
    position: absolute;
    color:#1d3d90;
    text-align: right; 
    
    height: 238px;
    width: 235px;
    
    margin-top: -325px;
    margin-left: 180px;
}
#nameStud{
    
    z-index: 1;
    font-size: 13px;
    position: absolute;
    color:#1d3d90; 
    font-weight: bold;
    text-align: left;
    
    height:60px;
    width:216px;

    margin-top: -236px;
    margin-left: 280px;
}
#schoolStud1{
    
    z-index: 1;
    font-size: 13px;
    position: absolute;
    color:#1d3d90; 
    font-weight: bold;
    text-align: left;
        
    height:46px;
    width:216px;

    margin-top: -160px;
    margin-left: 280px;
   
}
   
#schoolStud2{
    z-index: 1;
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    color:#fff;
    text-align: right;

    height:24px;
    width:180px;

    margin-top: -32px;
    margin-left: 290px;
}



#btn_panel1{
    max-height:240px; 
    max-width:467px;

    height:530px; 
    width:467px; 

    display:inline-block;
}


#previewStatement{
    color:red;
    width: 500px;
    border:1p solid black;
}
/*
end initial screen size
*/
    
 