.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    }
    .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 0 solid #aaa !important;
    border-bottom: 1px solid #aaa !important; 
    border-radius: 0px !important;
}
.select2-container--default .select2-selection--single::hover {
    background-color: #fff;
    border: 0 solid #1f1b52 !important;
    border-bottom: 1px solid #aaa !important; 
    border-radius: 0px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
     background-color: #F0F1F2 !important;
     color: #393A3B !important; 
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #F0F1F2 !important;
    color: #000000 !important;
}
    